html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  background: url("/Sponsors/background.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}

.Sponsors {
  background: url("/Sponsors/FingerTrail.png");
  background-size: cover; /* Stretches the image to cover the element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.SponsorTitle {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-family: "Poppins";
}

.SponsorHeadings {
  font-size: 2.5rem;
  font-family: "Montserrat";
  color: rgb(218, 65, 65);
}

ul {
  padding: 2% 20%;
  list-style-type: none;
}

li {
  padding: 20px;
}

li p {
  font-size: 1.5rem;
  font-family: "Poppins";
}
