.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../public/Sponsors/pages-upscaled.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    position: relative;
}


.filespagebgleft {
    background-color: #9E9683;
    margin: -20vw;
    rotate: 6deg;
    height: 85vh;
    width: 20vw;
    position: relative;
}

.filespagebgright {
    background-color: #9E9683;
    margin: 18vw;
    rotate: -6deg;
    height: 85vh;
    width: 15vw; 
    position: relative;
}

.filespageright1{
    background-color: #B4AA96;
    rotate: 3deg;
    height: 90vh;
    width: 35vw;
    position: relative;
}

.filespageright2{
    background-color: #CBC0A9;
    rotate: 3deg;
    height: 90vh;
    width: 35vw;
    position: relative;
}

.filespageleft1{
    background-color: #B4AA96;
    rotate: -3deg;
    height: 90vh;
    width: 35vw;
    position: relative;
}

.filespageleft2{
    background-color: #CBC0A9;
    rotate: -3deg;
    height: 90vh;
    width: 35vw;
    position: relative;
}
